@import 'bourbon/bourbon';
@import 'snippets';
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;        
}

/*Fontes*/

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#opensans-light-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#opensans-regular-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Italic';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('../fonts/opensans-italic-webfont.svg#opensans-italic-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#opensans-bold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

$openlight: 'Open Sans Light', sans-serif;
$openregular: 'Open Sans Regular', sans-serif;
$openitalic: 'Open Sans Italic', sans-serif;
$openbold: 'Open Sans Bold', sans-serif;

body {
    font-size: 16px;
    font-family: $openregular;
    font-weight:300;
    color:#787878;
    margin:0;
}


* {
    margin: 0;
}

html, body {
    height: 100%;
}

.left{
    float: left;
}
.right{
    float:right;
}
.page-imagem{
    float:right;
    margin-top:50px;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Estilos Gerais
   ========================================================================== */
.interna{
    width:960px;
    margin:0 auto;
}

.pagina{
    padding-bottom:60px;
}

.pagina >   h1{
    width:100%;
    height:75px;
    line-height:73px;
    text-transform: uppercase;
    color:#445635;
    font-size:30px;
    font-weight:normal;
    margin:14px 0 34px 0;
    background:#F0F0F0;
    font-family: $openlight;
    font-weight:normal;
}

 .atuacao-wrapper{
        width:606px;
        float:right;
        margin-bottom:100px;
        ul{
            margin:0;
            padding:0;
            li{
                list-style-type: none;
                float:left;
                width:298px;
                margin:0 0 5px 5px;
                height:58px;
                line-height:56px;
                background:#697E57;
                text-align:center;
                font-size:16px;
                color:#fff;
                span{
                    display:inline-block;
                    border-bottom:solid 1px #B4B4B4;
                    height:40px;
                }
                &.descricao{
                    background: none;
                    color:#787878;
                    text-transform: uppercase;
                }
            }
        }
    }

/* ==========================================================================
   Header
   ========================================================================== */
header{
    height:225px;
    border-bottom:solid 1px #E1E1E1;
    width:100%;
    .interna{
        .marca{
            display:block;
            width: 116px;
            height: 146px;
            float:left;
            margin-top:40px;
        }
        nav{
            float:left;
            margin: 130px 0 0 112px;
            ul{
                margin:0;
                padding:0;
                list-style-type: none;
                li{
                    float:left;
                    a{
                        display:block;
                        padding:9px 14px;
                        color:#879B7D;
                        font-size:14px;
                        text-decoration: none;
                        text-transform: uppercase;
                        border-bottom: solid 1px #DDE1DA;
                        &:hover, &.active{
                            color:#445635;
                            border-bottom: solid 2px #445635;
                        }
                    }
                }
            }
        }
        .detalhe-header{
            display: block;
            width: 350px;
            height: 150px;
            float: right;
            background-image: url(../img/detalhe-header.png);
            margin-top: -170px;
            margin-right:-115px;
        }
    }
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer{
    height:174px;
    width:100%;
    text-align:center;
    border-top:solid 1px #dcdcdc;
    .contato-footer{
        display:inline-block;
        margin-top:35px;
        .telefone{
            font-size:18px;
            color:#445635;
            a{
                color:inherit;
                text-decoration: none;
            }
            .barra{
                margin:0 1px;
                color:#dcdcdc;
            }
        }
        .endereco{
            font-size:13px;
            text-transform: uppercase;
            color:#445635;
            margin-top:8px;
            margin-bottom:40px;
            a{
                color:inherit;
                text-decoration: none;
            }
        }
    }
    .copy{
        width: 100%;
        height: 55px;
        background-color:#697E57;
        color:#fff;
        line-height:53px;
        font-size:11px;
        a{
            color:inherit;
            text-decoration: none;
        }
        img{
            margin-left:10px;
        }
    }
}
/* ==========================================================================
   Home
   ========================================================================== */
.conteudo-home{
    .faixa-cinza{
        position:relative;
        width:100%;
        height:318px;
        background: #F0F0F0;
        margin-top:15px;
        .home-slider-wrapper{
            position:absolute;
            width:960px;
            height:358px;
            left:50%;
            margin-left:-480px;
            margin-top:30px;
            .home-slide-image-wrapper{
                display:block;
                width:650px;
                height:358px;
                float:left;
            }
            .home-slide{
                margin-left:1px;
                a{
                    display: block;
                    text-decoration: none;
                    color:inherit;
                }
            }
            .home-slide-content{
                width:254px;
                height:302px;
                padding:28px;
                float:right;
                background:#FFF;
                -webkit-border-radius: 0px 10px 10px 0px;
                border-radius: 0px 10px 10px 0px;
                h1{
                    font-size: 24px;
                    font-weight:normal;
                    text-transform: uppercase;
                    font-family: $openlight;
                    color:#445635;
                    margin-top:0;
                    height:96px;
                }
                p{
                    font-size:14px;
                    color:#787878;
                }
            }
        }
    }
    .faixa-verde{
        width:100%;
        height:240px;
        background:#697E57;
        .frase-home{
            margin-top:100px;
            text-align: center;
            p{
                width:920px;
                text-transform: uppercase;
                color:#FFF;
                font-size:28px;
                font-family: $openlight;
                b, strong{
                    font-family: $openbold;
                    font-weight: normal;
                }
            }
        }
    }
    .bx-controls{
        width: 264px;
        float: right;
        position: relative;
        margin-right: 28px;
        margin-top: -38px;
        a{
            float: left;
            display: block;
            width: 80px;
            height: 10px;
            text-indent: -9999px;
            background: #D2D8CC;
            margin-left: 8px;
            &.active{
                background: #697E57;
            }
        }
    }
    .noticias-widget{
        width:260px;
        margin-bottom:100px;
        h1{
            font-size:36px;
            font-family: $openlight;
            font-weight: normal;
            color:#445635;
            text-transform: uppercase;
            line-height:40px;
            margin-top:47px;
            margin-bottom:0;
            a{
                color:#445635;
                text-decoration: none;
                font-size: 14px;
                text-transform: none;
            }
        }
        .noticia-link{
            height:83px;
            padding-top:23px;
            border-bottom:solid 1px #DCDCDC;
            .noticia-data{
                width: 56px;
                height:83px;
                float:left;
                font-size:18px;
                color:#879879;
                .noticia-dia{
                    width:50px;
                    padding-left:6px;
                }
                .noticia-mes{
                    width: 100%;
                }
            }
            .noticia-titulo{
                width:204px;
                height:62px;
                float:left;
                font-size:13px;
            }
            .noticia-mais{
                display:block;
                float:right;
                width: 86px;
                padding-left:8px;
                height: 22px;
                line-height:20px;
                font-size:13px;
                color:#FFF;
                text-decoration: none;
                background-color: #445635;
                background-image: url(../img/seta_home-saiba-mais.png);
                background-repeat: no-repeat;
                background-position: 80px center;
            }
        }
    }
    .atuacao{
        h1{
            font-size:36px;
            font-family: $openlight;
            font-weight: normal;
            color:#445635;
            text-transform: uppercase;
            line-height:40px;
            margin-top:47px;
        }
    }
    .atuacao-wrapper{
        ul{
            li{
                background:#F3F3F3;
                color:#787878;
                &.atuacao-contato-home{
                    background:#697E57;
                    text-align: left;
                    a{
                        color:#FFF;
                        text-decoration:none;
                        font-family: $openbold;
                        text-transform:uppercase;
                        font-size:18px;
                        display:block;
                        width: 260px;
                        padding-left:38px;
                        line-height: 59px;
                        height:58px;
                        background: url(../img/seta_home-contato.png) no-repeat 231px center;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
   Empresa
   ========================================================================== */
.conteudo-empresa{
    .imagem-wrapper{
        width: 330px;
        float:left;
    }
    .texto{
        width: 580px;
        float:right;
        p{
            font-size: 14px;
            b, strong{
                color:#445635;
            }
            &:first-child{
                margin-top:0;
            }
        }
        blockquote{
            margin:0;
            margin-left:20px;
            padding: 0 20px 0 23px;
            background:url(../img/barra-quote.jpg) no-repeat left center;
            font-family: $openitalic;
            color:#445635;
            p{
                font-size:18px;
            }
        }
    }
}

/* ==========================================================================
   Perfil
   ========================================================================== */
.conteudo-perfil{
    .texto{
        p{
            font-family: $openlight;
            font-size:18px;
        }
    }
    .perfis-dupla{
        margin-top:60px;
    }
    .perfil-esquerda, .perfil-direita{
        text-align:center;
    }
    .perfil-esquerda{
        width:479px;
        border-right:solid 1px #E1E1E1;
    }
    .perfil-direita{
        width:480px;
    }
    h2{
        font-size:20px;
        font-family: $openlight;
        color:#445635;
        font-weight: normal;
        margin-top:20px;
        margin-bottom:12px;
    }
    .perfil-texto{
        width:280px;
        margin:0 auto;
        font-size:14px;
    }
}

/* ==========================================================================
   Áreas de Atuação
   ========================================================================== */
.conteudo-atuacao{
    .texto{
        width:310px;
        float:left;
        p{
            font-size:14px;
            b, strong{
                color:#445635;
            }
        }
    }
   
    .contato-servicos{
        display:block;
        width: 920px;
        padding-left:37px;
        height:68px;
        text-transform: uppercase;
        text-decoration: none;
        color:#445635;
        font-size:20px;
        font-family: $openlight;
        border:solid 1px #697E57;
        line-height:66px;
        margin-top:45px;
        background-color:#FFF;
        background-image:url(../img/seta_atuacao-contato.png);
        background-repeat: no-repeat;
        background-position: 885px center;
        position: relative;
        z-index: 150;
    }
    .contato-servicos-shadow{
        width: 959px;
        height: 70px;
        background:#E1E5DD;
        margin-bottom:50px;
        position:relative;
        z-index: 100;
        margin-top: -63px;
        margin-left: 6px;
    }
}

/* ==========================================================================
   Notícias
   ========================================================================== */
.conteudo-noticias{
    .noticia-image-wrapper{
        text-align:center;
        margin-top:20px;
    }
    .navegacao{
        width:320px;
        margin-bottom:100px;
        .nav-link{
            display:block;
            width:260px;
            height:107px;
            padding:20px 40px 0 20px;
            margin:5px 0;
            text-decoration:none;
            color:inherit;
            background-image:url(../img/seta_noticia.png);
            background-repeat:no-repeat;
            background-position: 283px 105px;
            &:hover, &.active{
                background-color:#697657;
                background-image:url(../img/seta_noticia-hover.png);
                color:#FFF;
                .data{color:#FFF;}
            }
            .data{
                display:block;
                width:66px;
                height:80px;
                float:left;
                color:#69785D;
                .dia, .mes{
                    display:block;
                    width:66px;
                    font-size:18px;
                }
                .dia{
                    padding-left:5px;
                    width:59px;
                }
            }
            .titulo{
                font-size:14px;
            }
        }
        .separador{
            width:100%;
            height:1px;
            background:#E1E1E1; 
        }
        .bx-next, .bx-prev{
            display:block;
            width: 128px;
            padding-left:32px;
            height: 40px;
            background-color:#697E57;
            background-image:url(../img/seta_noticia-recentes.png); 
            background-repeat:no-repeat;
            background-position:142px center; 
            float:right;
            color:#FFF;
            font-size:13px;
            line-height:37px;
            text-decoration:none;
        }
        .bx-next{
            width:127px;
            padding-left:0;
            padding-right:32px;
            text-align:right;
            float:left;
            background-image:url(../img/seta_noticia-anteriores.png);
            background-position:14px center; 
        }
        .bx-viewport{
            height: 571px !important;
        }
    }
    .conteudo-outer{
        width:600px;
        margin-bottom:100px;
        .conteudo-inner{
            header{
                text-align:center;
                border-bottom:none;
                .data{
                    font-size:14px;
                    color:#697E57;
                }
                .separador-data{
                    display:block;
                    margin:0 auto;
                    width:220px;
                    height:1px;
                    background: #697E57;
                    margin-top:13px;
                }
                h1{
                    font-weight:normal;
                    font-size:28px;
                    color:#445635;
                }
                .resumo{
                    font-size:16px;
                    font-family: $openitalic;
                    color:#646464;
                }
                .separador-resumo{
                    display:block;
                    margin:0 auto;
                    width:220px;
                    height:1px;
                    background: #E1E1E1;
                    margin-top:27px;
                }
            }
            p{
                font-size:14px;
            }
        }
    }
}
/* ==========================================================================
   Contato
   ========================================================================== */
.conteudo-contato{
    .separador-contato{
        width:100%;
        height:3px;
        background: url(../img/pattern-peq_marrom.png);
    }
    .mapa{
        width:100%;
        height:280px;
        margin-top:15px;
    }
    .contatos{
        width:260px;
        a{text-decoration:none; color:inherit;}
        h1{
            font-size:28px;
            font-weight:normal;
            font-family: $openlight;
            text-transform: uppercase;
            color:#445635;
            border-bottom:solid 5px #445635;
            padding-bottom:7px;
            margin-bottom:12px;
            margin-top:24px;    
        }
    }
    .telefone{
        small{font-size:22px; color:#8F9A86;}
        font-size:34px;
        color:#445635;
        font-family:$openlight;
    }
    .endereco{
        font-size:14px;
        margin-bottom:16px;
        margin-top:18px;
        line-height:1.5em;
        color:#697E57;
    }
    .email{
        font-size:14px;
        font-family:$openbold;
        a{
            text-decoration: none;
            color: #445635;
        }
    }
    .form{
        display:block;
        width:610px;
        h1{
            font-size:28px;
            font-weight:normal;
            font-family: $openlight;
            text-transform: uppercase;
            color:#445635;
            border-bottom:solid 5px #697E57;
            padding-bottom:7px;
            margin-bottom:12px;
            margin-top:24px;
        }
    }
     form{
        margin-top:15px;

        input[type=text], textarea{
            font-family: $openregular;
            border:solid 1px #C8C8C8;
        }
        .inputs{
            width:250px;
            float:left;
        }
            input{
                width:227px;
                padding:0 10px;
                font-size:13px;
                height:38px;
                line-height:36px;
                margin-bottom:5px;
                color:#B0B0B0;
                outline:none;
                border-radius:0;
            }
            textarea{
                width:319px;
                height:112px;
                float:right;
                padding:8px 14px;
                font-size:13px;
                color:#969696;
                outline:none;
                border-radius:0;
            }
            #contato-submit{
                width:126px;
                height:48px;
                float:right;
                line-height:46px;
                padding:0 20px 0 24px;
                border:none;
                color:#FFF;
                font-size:15px;
                text-transform:uppercase;
                text-align:left;
                background-color:#697E57;
                background-image:url(../img/seta_contato-enviar.png);
                background-repeat:no-repeat;
                background-position:89px center;
                font-family:$openregular;
                margin-top:4px;
                margin-bottom:100px;
                &:hover{
                    color:#F1F1F1;
                }
            }
    }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ 
           color:#969696;
}
input::-webkit-input-placeholder{
}
input:-moz-placeholder, textarea:-moz-placeholder{ 
   color:#969696;
}
input:-moz-placeholder{
}
    /* ==========================================================================
       Helper classes
       ========================================================================== */

    /*
     * Image replacement
     */

    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        /* IE 6/7 fallback */
        *text-indent: -9999px;
    }

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }





/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body{min-width:1100px;}

}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    /* Remove unwanted elements */
#header, #nav, .noprint
{
display: none;
}

/* Ensure the content spans the full width */
#container, #container2, #content
{
width: 100%; margin: 0; float: none;
}

/* Change text colour to black (useful for light text on a dark background) */
.lighttext
{
color: #000;
}

/* Improve colour contrast of links */
a:link, a:visited
{
color: #781351;
}

}