/* ====================================================================
 * Crossbrowser Opacity
 * ==================================================================== */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

/*Fontes*/
@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light-webfont.svg#opensans-light-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#opensans-regular-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/opensans-italic-webfont.eot");
  src: url("../fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic-webfont.woff") format("woff"), url("../fonts/opensans-italic-webfont.ttf") format("truetype"), url("../fonts/opensans-italic-webfont.svg#opensans-italic-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#opensans-bold-webfont") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-size: 16px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 300;
  color: #787878;
  margin: 0; }

* {
  margin: 0; }

html, body {
  height: 100%; }

.left {
  float: left; }

.right {
  float: right; }

.page-imagem {
  float: right;
  margin-top: 50px; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Estilos Gerais
   ========================================================================== */
.interna {
  width: 960px;
  margin: 0 auto; }

.pagina {
  padding-bottom: 60px; }

.pagina > h1 {
  width: 100%;
  height: 75px;
  line-height: 73px;
  text-transform: uppercase;
  color: #445635;
  font-size: 30px;
  font-weight: normal;
  margin: 14px 0 34px 0;
  background: #F0F0F0;
  font-family: "Open Sans Light", sans-serif;
  font-weight: normal; }

.atuacao-wrapper {
  width: 606px;
  float: right;
  margin-bottom: 100px; }
  .atuacao-wrapper ul {
    margin: 0;
    padding: 0; }
    .atuacao-wrapper ul li {
      list-style-type: none;
      float: left;
      width: 298px;
      margin: 0 0 5px 5px;
      height: 58px;
      line-height: 56px;
      background: #697E57;
      text-align: center;
      font-size: 16px;
      color: #fff; }
      .atuacao-wrapper ul li span {
        display: inline-block;
        border-bottom: solid 1px #B4B4B4;
        height: 40px; }
      .atuacao-wrapper ul li.descricao {
        background: none;
        color: #787878;
        text-transform: uppercase; }

/* ==========================================================================
   Header
   ========================================================================== */
header {
  height: 225px;
  border-bottom: solid 1px #E1E1E1;
  width: 100%; }
  header .interna .marca {
    display: block;
    width: 116px;
    height: 146px;
    float: left;
    margin-top: 40px; }
  header .interna nav {
    float: left;
    margin: 130px 0 0 112px; }
    header .interna nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      header .interna nav ul li {
        float: left; }
        header .interna nav ul li a {
          display: block;
          padding: 9px 14px;
          color: #879B7D;
          font-size: 14px;
          text-decoration: none;
          text-transform: uppercase;
          border-bottom: solid 1px #DDE1DA; }
          header .interna nav ul li a:hover, header .interna nav ul li a.active {
            color: #445635;
            border-bottom: solid 2px #445635; }
  header .interna .detalhe-header {
    display: block;
    width: 350px;
    height: 150px;
    float: right;
    background-image: url(../img/detalhe-header.png);
    margin-top: -170px;
    margin-right: -115px; }

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  height: 174px;
  width: 100%;
  text-align: center;
  border-top: solid 1px #dcdcdc; }
  footer .contato-footer {
    display: inline-block;
    margin-top: 35px; }
    footer .contato-footer .telefone {
      font-size: 18px;
      color: #445635; }
      footer .contato-footer .telefone a {
        color: inherit;
        text-decoration: none; }
      footer .contato-footer .telefone .barra {
        margin: 0 1px;
        color: #dcdcdc; }
    footer .contato-footer .endereco {
      font-size: 13px;
      text-transform: uppercase;
      color: #445635;
      margin-top: 8px;
      margin-bottom: 40px; }
      footer .contato-footer .endereco a {
        color: inherit;
        text-decoration: none; }
  footer .copy {
    width: 100%;
    height: 55px;
    background-color: #697E57;
    color: #fff;
    line-height: 53px;
    font-size: 11px; }
    footer .copy a {
      color: inherit;
      text-decoration: none; }
    footer .copy img {
      margin-left: 10px; }

/* ==========================================================================
   Home
   ========================================================================== */
.conteudo-home .faixa-cinza {
  position: relative;
  width: 100%;
  height: 318px;
  background: #F0F0F0;
  margin-top: 15px; }
  .conteudo-home .faixa-cinza .home-slider-wrapper {
    position: absolute;
    width: 960px;
    height: 358px;
    left: 50%;
    margin-left: -480px;
    margin-top: 30px; }
    .conteudo-home .faixa-cinza .home-slider-wrapper .home-slide-image-wrapper {
      display: block;
      width: 650px;
      height: 358px;
      float: left; }
    .conteudo-home .faixa-cinza .home-slider-wrapper .home-slide {
      margin-left: 1px; }
      .conteudo-home .faixa-cinza .home-slider-wrapper .home-slide a {
        display: block;
        text-decoration: none;
        color: inherit; }
    .conteudo-home .faixa-cinza .home-slider-wrapper .home-slide-content {
      width: 254px;
      height: 302px;
      padding: 28px;
      float: right;
      background: #FFF;
      -webkit-border-radius: 0px 10px 10px 0px;
      border-radius: 0px 10px 10px 0px; }
      .conteudo-home .faixa-cinza .home-slider-wrapper .home-slide-content h1 {
        font-size: 24px;
        font-weight: normal;
        text-transform: uppercase;
        font-family: "Open Sans Light", sans-serif;
        color: #445635;
        margin-top: 0;
        height: 96px; }
      .conteudo-home .faixa-cinza .home-slider-wrapper .home-slide-content p {
        font-size: 14px;
        color: #787878; }
.conteudo-home .faixa-verde {
  width: 100%;
  height: 240px;
  background: #697E57; }
  .conteudo-home .faixa-verde .frase-home {
    margin-top: 100px;
    text-align: center; }
    .conteudo-home .faixa-verde .frase-home p {
      width: 920px;
      text-transform: uppercase;
      color: #FFF;
      font-size: 28px;
      font-family: "Open Sans Light", sans-serif; }
      .conteudo-home .faixa-verde .frase-home p b, .conteudo-home .faixa-verde .frase-home p strong {
        font-family: "Open Sans Bold", sans-serif;
        font-weight: normal; }
.conteudo-home .bx-controls {
  width: 264px;
  float: right;
  position: relative;
  margin-right: 28px;
  margin-top: -38px; }
  .conteudo-home .bx-controls a {
    float: left;
    display: block;
    width: 80px;
    height: 10px;
    text-indent: -9999px;
    background: #D2D8CC;
    margin-left: 8px; }
    .conteudo-home .bx-controls a.active {
      background: #697E57; }
.conteudo-home .noticias-widget {
  width: 260px;
  margin-bottom: 100px; }
  .conteudo-home .noticias-widget h1 {
    font-size: 36px;
    font-family: "Open Sans Light", sans-serif;
    font-weight: normal;
    color: #445635;
    text-transform: uppercase;
    line-height: 40px;
    margin-top: 47px;
    margin-bottom: 0; }
    .conteudo-home .noticias-widget h1 a {
      color: #445635;
      text-decoration: none;
      font-size: 14px;
      text-transform: none; }
  .conteudo-home .noticias-widget .noticia-link {
    height: 83px;
    padding-top: 23px;
    border-bottom: solid 1px #DCDCDC; }
    .conteudo-home .noticias-widget .noticia-link .noticia-data {
      width: 56px;
      height: 83px;
      float: left;
      font-size: 18px;
      color: #879879; }
      .conteudo-home .noticias-widget .noticia-link .noticia-data .noticia-dia {
        width: 50px;
        padding-left: 6px; }
      .conteudo-home .noticias-widget .noticia-link .noticia-data .noticia-mes {
        width: 100%; }
    .conteudo-home .noticias-widget .noticia-link .noticia-titulo {
      width: 204px;
      height: 62px;
      float: left;
      font-size: 13px; }
    .conteudo-home .noticias-widget .noticia-link .noticia-mais {
      display: block;
      float: right;
      width: 86px;
      padding-left: 8px;
      height: 22px;
      line-height: 20px;
      font-size: 13px;
      color: #FFF;
      text-decoration: none;
      background-color: #445635;
      background-image: url(../img/seta_home-saiba-mais.png);
      background-repeat: no-repeat;
      background-position: 80px center; }
.conteudo-home .atuacao h1 {
  font-size: 36px;
  font-family: "Open Sans Light", sans-serif;
  font-weight: normal;
  color: #445635;
  text-transform: uppercase;
  line-height: 40px;
  margin-top: 47px; }
.conteudo-home .atuacao-wrapper ul li {
  background: #F3F3F3;
  color: #787878; }
  .conteudo-home .atuacao-wrapper ul li.atuacao-contato-home {
    background: #697E57;
    text-align: left; }
    .conteudo-home .atuacao-wrapper ul li.atuacao-contato-home a {
      color: #FFF;
      text-decoration: none;
      font-family: "Open Sans Bold", sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      display: block;
      width: 260px;
      padding-left: 38px;
      line-height: 59px;
      height: 58px;
      background: url(../img/seta_home-contato.png) no-repeat 231px center; }

/* ==========================================================================
   Empresa
   ========================================================================== */
.conteudo-empresa .imagem-wrapper {
  width: 330px;
  float: left; }
.conteudo-empresa .texto {
  width: 580px;
  float: right; }
  .conteudo-empresa .texto p {
    font-size: 14px; }
    .conteudo-empresa .texto p b, .conteudo-empresa .texto p strong {
      color: #445635; }
    .conteudo-empresa .texto p:first-child {
      margin-top: 0; }
  .conteudo-empresa .texto blockquote {
    margin: 0;
    margin-left: 20px;
    padding: 0 20px 0 23px;
    background: url(../img/barra-quote.jpg) no-repeat left center;
    font-family: "Open Sans Italic", sans-serif;
    color: #445635; }
    .conteudo-empresa .texto blockquote p {
      font-size: 18px; }

/* ==========================================================================
   Perfil
   ========================================================================== */
.conteudo-perfil .texto p {
  font-family: "Open Sans Light", sans-serif;
  font-size: 18px; }
.conteudo-perfil .perfis-dupla {
  margin-top: 60px; }
.conteudo-perfil .perfil-esquerda, .conteudo-perfil .perfil-direita {
  text-align: center; }
.conteudo-perfil .perfil-esquerda {
  width: 479px;
  border-right: solid 1px #E1E1E1; }
.conteudo-perfil .perfil-direita {
  width: 480px; }
.conteudo-perfil h2 {
  font-size: 20px;
  font-family: "Open Sans Light", sans-serif;
  color: #445635;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 12px; }
.conteudo-perfil .perfil-texto {
  width: 280px;
  margin: 0 auto;
  font-size: 14px; }

/* ==========================================================================
   Áreas de Atuação
   ========================================================================== */
.conteudo-atuacao .texto {
  width: 310px;
  float: left; }
  .conteudo-atuacao .texto p {
    font-size: 14px; }
    .conteudo-atuacao .texto p b, .conteudo-atuacao .texto p strong {
      color: #445635; }
.conteudo-atuacao .contato-servicos {
  display: block;
  width: 920px;
  padding-left: 37px;
  height: 68px;
  text-transform: uppercase;
  text-decoration: none;
  color: #445635;
  font-size: 20px;
  font-family: "Open Sans Light", sans-serif;
  border: solid 1px #697E57;
  line-height: 66px;
  margin-top: 45px;
  background-color: #FFF;
  background-image: url(../img/seta_atuacao-contato.png);
  background-repeat: no-repeat;
  background-position: 885px center;
  position: relative;
  z-index: 150; }
.conteudo-atuacao .contato-servicos-shadow {
  width: 959px;
  height: 70px;
  background: #E1E5DD;
  margin-bottom: 50px;
  position: relative;
  z-index: 100;
  margin-top: -63px;
  margin-left: 6px; }

/* ==========================================================================
   Notícias
   ========================================================================== */
.conteudo-noticias .noticia-image-wrapper {
  text-align: center;
  margin-top: 20px; }
.conteudo-noticias .navegacao {
  width: 320px;
  margin-bottom: 100px; }
  .conteudo-noticias .navegacao .nav-link {
    display: block;
    width: 260px;
    height: 107px;
    padding: 20px 40px 0 20px;
    margin: 5px 0;
    text-decoration: none;
    color: inherit;
    background-image: url(../img/seta_noticia.png);
    background-repeat: no-repeat;
    background-position: 283px 105px; }
    .conteudo-noticias .navegacao .nav-link:hover, .conteudo-noticias .navegacao .nav-link.active {
      background-color: #697657;
      background-image: url(../img/seta_noticia-hover.png);
      color: #FFF; }
      .conteudo-noticias .navegacao .nav-link:hover .data, .conteudo-noticias .navegacao .nav-link.active .data {
        color: #FFF; }
    .conteudo-noticias .navegacao .nav-link .data {
      display: block;
      width: 66px;
      height: 80px;
      float: left;
      color: #69785D; }
      .conteudo-noticias .navegacao .nav-link .data .dia, .conteudo-noticias .navegacao .nav-link .data .mes {
        display: block;
        width: 66px;
        font-size: 18px; }
      .conteudo-noticias .navegacao .nav-link .data .dia {
        padding-left: 5px;
        width: 59px; }
    .conteudo-noticias .navegacao .nav-link .titulo {
      font-size: 14px; }
  .conteudo-noticias .navegacao .separador {
    width: 100%;
    height: 1px;
    background: #E1E1E1; }
  .conteudo-noticias .navegacao .bx-next, .conteudo-noticias .navegacao .bx-prev {
    display: block;
    width: 128px;
    padding-left: 32px;
    height: 40px;
    background-color: #697E57;
    background-image: url(../img/seta_noticia-recentes.png);
    background-repeat: no-repeat;
    background-position: 142px center;
    float: right;
    color: #FFF;
    font-size: 13px;
    line-height: 37px;
    text-decoration: none; }
  .conteudo-noticias .navegacao .bx-next {
    width: 127px;
    padding-left: 0;
    padding-right: 32px;
    text-align: right;
    float: left;
    background-image: url(../img/seta_noticia-anteriores.png);
    background-position: 14px center; }
  .conteudo-noticias .navegacao .bx-viewport {
    height: 571px !important; }
.conteudo-noticias .conteudo-outer {
  width: 600px;
  margin-bottom: 100px; }
  .conteudo-noticias .conteudo-outer .conteudo-inner header {
    text-align: center;
    border-bottom: none; }
    .conteudo-noticias .conteudo-outer .conteudo-inner header .data {
      font-size: 14px;
      color: #697E57; }
    .conteudo-noticias .conteudo-outer .conteudo-inner header .separador-data {
      display: block;
      margin: 0 auto;
      width: 220px;
      height: 1px;
      background: #697E57;
      margin-top: 13px; }
    .conteudo-noticias .conteudo-outer .conteudo-inner header h1 {
      font-weight: normal;
      font-size: 28px;
      color: #445635; }
    .conteudo-noticias .conteudo-outer .conteudo-inner header .resumo {
      font-size: 16px;
      font-family: "Open Sans Italic", sans-serif;
      color: #646464; }
    .conteudo-noticias .conteudo-outer .conteudo-inner header .separador-resumo {
      display: block;
      margin: 0 auto;
      width: 220px;
      height: 1px;
      background: #E1E1E1;
      margin-top: 27px; }
  .conteudo-noticias .conteudo-outer .conteudo-inner p {
    font-size: 14px; }

/* ==========================================================================
   Contato
   ========================================================================== */
.conteudo-contato .separador-contato {
  width: 100%;
  height: 3px;
  background: url(../img/pattern-peq_marrom.png); }
.conteudo-contato .mapa {
  width: 100%;
  height: 280px;
  margin-top: 15px; }
.conteudo-contato .contatos {
  width: 260px; }
  .conteudo-contato .contatos a {
    text-decoration: none;
    color: inherit; }
  .conteudo-contato .contatos h1 {
    font-size: 28px;
    font-weight: normal;
    font-family: "Open Sans Light", sans-serif;
    text-transform: uppercase;
    color: #445635;
    border-bottom: solid 5px #445635;
    padding-bottom: 7px;
    margin-bottom: 12px;
    margin-top: 24px; }
.conteudo-contato .telefone {
  font-size: 34px;
  color: #445635;
  font-family: "Open Sans Light", sans-serif; }
  .conteudo-contato .telefone small {
    font-size: 22px;
    color: #8F9A86; }
.conteudo-contato .endereco {
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 18px;
  line-height: 1.5em;
  color: #697E57; }
.conteudo-contato .email {
  font-size: 14px;
  font-family: "Open Sans Bold", sans-serif; }
  .conteudo-contato .email a {
    text-decoration: none;
    color: #445635; }
.conteudo-contato .form {
  display: block;
  width: 610px; }
  .conteudo-contato .form h1 {
    font-size: 28px;
    font-weight: normal;
    font-family: "Open Sans Light", sans-serif;
    text-transform: uppercase;
    color: #445635;
    border-bottom: solid 5px #697E57;
    padding-bottom: 7px;
    margin-bottom: 12px;
    margin-top: 24px; }
.conteudo-contato form {
  margin-top: 15px; }
  .conteudo-contato form input[type=text], .conteudo-contato form textarea {
    font-family: "Open Sans Regular", sans-serif;
    border: solid 1px #C8C8C8; }
  .conteudo-contato form .inputs {
    width: 250px;
    float: left; }
  .conteudo-contato form input {
    width: 227px;
    padding: 0 10px;
    font-size: 13px;
    height: 38px;
    line-height: 36px;
    margin-bottom: 5px;
    color: #B0B0B0;
    outline: none;
    border-radius: 0; }
  .conteudo-contato form textarea {
    width: 319px;
    height: 112px;
    float: right;
    padding: 8px 14px;
    font-size: 13px;
    color: #969696;
    outline: none;
    border-radius: 0; }
  .conteudo-contato form #contato-submit {
    width: 126px;
    height: 48px;
    float: right;
    line-height: 46px;
    padding: 0 20px 0 24px;
    border: none;
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    background-color: #697E57;
    background-image: url(../img/seta_contato-enviar.png);
    background-repeat: no-repeat;
    background-position: 89px center;
    font-family: "Open Sans Regular", sans-serif;
    margin-top: 4px;
    margin-bottom: 100px; }
    .conteudo-contato form #contato-submit:hover {
      color: #F1F1F1; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #969696; }

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #969696; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    min-width: 1100px; } }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* Remove unwanted elements */
  #header, #nav, .noprint {
    display: none; }

  /* Ensure the content spans the full width */
  #container, #container2, #content {
    width: 100%;
    margin: 0;
    float: none; }

  /* Change text colour to black (useful for light text on a dark background) */
  .lighttext {
    color: #000; }

  /* Improve colour contrast of links */
  a:link, a:visited {
    color: #781351; } }
